:root {
  --ano-primary: #4098fc;
  --ano-secondary: #ad94ff;
  --ano-third: #acf080;
  --ano-background: #fff;
  --ano-app-background: #f5f5f5;
  --ano-text-primary: #1f202a;
  --ano-text-secondary: #5e5f6e;
  --ano-text-third: #97989d;
  --ano-bg: #f9f9f9;
  --ano-bg-solid: #f4f4f4;
  --ano-bg-checked: #f7f7f7;
  --ano-text: #c1c1c1;
  --ano-line: #e5e5e5;
  --ano-mask: rgba(0, 0, 0, 0.7);
  position: relative;
}

html.dark {
  --ano-primary: #a98eff;
  --ano-background: #1f202a;
  --ano-app-background: #111212;
  --ano-text-primary: #fff;
  --ano-text-secondary: hsla(0, 0%, 100%, 0.8);
  --ano-text-third: hsla(0, 0%, 100%, 0.6);
  --ano-bg: hsla(0, 0%, 100%, 0.08);
  --ano-bg-solid: #31313b;
  --ano-bg-checked: hsla(0, 0%, 100%, 0.16);
  --ano-text: hsla(0, 0%, 100%, 0.4);
  --ano-line: hsla(0, 0%, 100%, 0.2);
}



*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  color: var(--ano-text-primary);
  font-size: 16px;
  font-weight: 500;
  word-spacing: 1px;
  word-break: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button,
html,
input,
optgroup,
select,
textarea {
  font-family: Open Sans, PingFang SC, Source Sans, Microsoft Yahei, sans-serif;
}

button {
  border: none;
}

a {
  cursor: pointer;
  color: var(--ano-primary);
  font-weight: 600;
  text-decoration: none;
}

a.underline:hover {
  border-bottom: 1px solid var(--ano-primary);
}

h2 {
  margin-top: 28px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

h4 {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 400;
  color: var(--ano-text-third);
  line-height: 24px;
}

h4 span {
  color: var(--ano-primary);
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

h6 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: var(--ano-text-third);
  line-height: 20px;
}


.ano-app {
  min-height: 100vh;
  background: var(--ano-app-background);
  display: flex;
  align-items: center;
  justify-content: center;

  .page {
    width: 100%;
    max-width: 480px;
    min-height: 100vh;
    padding: 24px;
    //text-align: center;
    background-color: var(--ano-background);
    position: relative;

    .ano-mask {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .ano-dialog {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;

        .dialog-container {
          border-radius: 15px;
          background-color: var(--ano-background);
          width: 100%;
          max-height: 350px;
          display: flex;
          flex-direction: column;

          .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 18px;
            font-weight: 500;

          }

          .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 14px;
            color: rgb(18, 19, 20);


            .processing-tx-hash {
              display: flex;
              align-items: center;
              justify-content: left;
              font-size: 13px;
              font-weight: 600;
              color: #b0b8bf;
              line-height: 14px;
              margin-top: 10px;
            }
          }

          .bottom {
            width: 100%;
            padding-top: 32px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 15px;

            .confirm {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;

              .dialog-btn {
                height: 33px;
                border-radius: 8px;
              }
            }

            .processing {
              height: 52px;
              background: #d6efe7;
              border-radius: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              font-weight: 600;
              color: #22c493;
              cursor: pointer;


              .loading {
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }

  .main-container {
    position: relative;
    padding-top: 70px;
  }
}

.header-bg-img {
  background-color: var(--uno-background);
  background-image: url(@/assets/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}


@media screen and (min-width: 480px) {
  .ano-app {
    padding-top: 60px;
    padding-bottom: 60px
  }

  .ano-app>.page {
    min-height: 780px;
    border-radius: 28px;
    padding-left: 40px;
    padding-right: 40px;

    .home {
      justify-content: flex-start;
      margin-left: -40px;
      margin-right: -40px;
      overflow: hidden;
    }

    .ano-mask {
      border-radius: 28px;
    }
  }

  html.dark .ano-app {
    background: var(--ano-app-background)
  }
}

@media screen and (max-width:400px) {
  .ano-app {
    .page {
      padding-left: 24px;
      padding-right: 24px;

      .header-bg-img {
        margin-left: -24px;
        margin-right: -24px;
      }
    }
  }
}

@media(orientation: landscape)and (max-width:980px) {
  .ano-app {
    padding-top: 0;
    padding-bottom: 0;
  }

  .ano-app>.page {
    max-width: 100%;
    border-radius: 0;
    min-height: 100vh;


    .home {
      justify-content: flex-start;
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
    }

    .ano-mask {
      border-radius: 0;
    }
  }
}

.header {
  font-size: 24px;
  font-weight: bolder;
  line-height: 36px;
}